
<h2>Pecho</h2>

<table>
    <thead>
        <tr>
            <th>Ejercicio</th>
            <th>Peso (kg)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Press inclinado con mancuernas</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Press de banca con barra</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Contractor</td>
            <td>50</td>
        </tr>
    </tbody>
</table>

<h2>Tríceps</h2>

<table>
    <thead>
        <tr>
            <th>Ejercicio</th>
            <th>Peso (kg)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Press inclinado con mancuernas</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Press de banca con barra</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Contractor</td>
            <td>50</td>
        </tr>
    </tbody>
</table>